<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html id="ng-app" ng-app="app" lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="../node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="components/controllers/AppController.js"></script>
    <script src="components/directives/Directives.js"></script>
</head>

<body ng-controller="AppController" nv-file-drop="" uploader="uploader">
<div class="wrapper">

    <div class="row" id="content">

        <div class="col-md-3">

            <h3>Select files</h3>

            <div ng-show="uploader.isHTML5">
                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    Base drop zone
                </div>
            </div>

            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

            <label for="sprite_size">Sprites size:</label>
            <input class="form-control" id="sprite_size" type="number" min="1" value="32" />

            <label for="sprite_amount">Sprites amount:</label>
            <input class="form-control" id="sprite_amount" type="number" min="1" value="1" />

            <label for="animations_by_sprite">Animations by sprite:</label>
            <input class="form-control" id="animations_by_sprite" type="number" min="1" value="1" />

            <label for="frames_by_animation">Frames by animations:</label>
            <input class="form-control" id="frames_by_animation" type="number" min="1" value="1"/>


            <button id="change" type="button" class="btn btn-primary btn-lg">Overlay</button>

            <button id="restore" type="button" class="btn btn-primary btn-lg" ng-click="restore()">Restore</button>


        </div>

        <div class="col-md-9" style="margin-bottom: 40px">
            <h2>Images</h2>
            <p>Amount of images: {{ uploader.queue.length }}</p>

            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                <li ng-repeat="item in uploader.queue" role="presentation" ng-class="active:$first">
                    <a href="{{'#tab' + $index}}" aria-controls="{{'tab' + $index}}" role="tab" data-toggle="tab">{{item.file.name}}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div ng-repeat="item in uploader.queue" role="tabpanel" class="tab-pane" ng-class="active:$first" id="{{'tab' + $index}}">
                    <strong>{{ item.file.name }}</strong>
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                </div>
            </div>
        </div>

    </div>

    <div id="footer">
        <div>
            Queue progress:
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
    </div>

</div>

<script>



    $('button').removeAttr('disabled');

    $('#myTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });

    var change = document.getElementById("change");
    change.addEventListener('click', function(){
        var canvasList = document.getElementsByTagName("canvas");
        var pixels = document.getElementById("sprite_size").value;
        var spriteAmount = document.getElementById("sprite_amount").value;
        var animation = document.getElementById("animations_by_sprite").value;
        var frames = document.getElementById("frames_by_animation").value;


        for(var c = 0; c < 2; c++){


            var spriteWidth = canvasList[c].width / pixels;
            var spriteHeight = canvasList[c].height / pixels;


            var imagePerSprite = (spriteWidth * spriteHeight) / spriteAmount;

            if(imagePerSprite / spriteWidth == frames){
                var sizeX = animation;
                var sizeY = frames;
            }
            else{
                sizeX = frames;
                sizeY = animation;
            }
            var canvas = canvasList[c];
            for(var j = 0; j < spriteHeight; j++) {
                for (i = 0; i < spriteWidth; i++) {
                    var color = {
                        r: Math.floor((Math.random() * 255)),
                        g: Math.floor((Math.random() * 255)),
                        b: Math.floor((Math.random() * 255))
                    };
                    canvas.getContext('2d').fillStyle = "rgba(" + color.r + "," + color.g + "," + color.b + " , 0.5)";
                    canvas.getContext('2d').fillRect(i * 32 * sizeX, j * 32 * sizeY, sizeX * 32, sizeY * 32);
                }
            }
        }
    });
</script>
</body>
</html>
